<div class="container">
    <div class="container mt-2">
        <div class="d-flex justify-content-center align-items-center">
          <!-- Left Logo -->
          <img src="photos/logo1.png" alt="Left Logo" class="img-fluid" style="height: 80px; width: auto; margin-right: 20px;">
          
          <!-- Title -->
          <h1 class="text-center mt-5 mb-5  tit" style="margin: 0;">Inspire Quotes</h1>
          
          <!-- Right Logo -->
          <img src="photos/logo1.png" alt="Right Logo" class="img-fluid" style="height: 80px; width: auto; margin-left: 20px;">
        </div>
      </div>
  
     
</div>


<div class="row text-center">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <input [(ngModel)]="quote.name" type="name" placeholder="Name" class="form-control inp">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <input [(ngModel)]="quote.quote" type="text" placeholder="Quote" class="form-control inp">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <input [(ngModel)]="quote.image" type="url" placeholder="Link of the Image" class="form-control inp">
    </div>

  
<!--          
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
        <input [(ngModel)]="quote.color" type="color"  class="form-control inp">
    </div> -->
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 ">
          <!-- Photo added above the button -->
          <img src="photos/imgS.png" alt="Sample Image" class="img-fluid rounded" style="width: 75%; max-width: 75%; object-fit: contain;">
        </div>
</div>

</div>
<div class="row justify-content-center ">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
        <button (click)="ajout()" type="submit" class="btn form-control bout  ">Create</button>
    </div>
</div>
